body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

.glossary {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.glosspara > p {
  margin-left: 5%;
  margin-right: 5%;
}

.glosspara > h3 {
  margin-left: 5%;
  margin-right: 5%;
  font-size: large;
}


/* landig page gradient animation */
body.landing {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #ffffff, rgb(126, 232, 107));
  background-size: 250% 250%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #318024;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-shadow: 0.5px 0.5px;
  opacity: 0%;
}

.disclaimer {
  text-align: center;
}

.question{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content {
    max-width: 500px;
    margin: auto;
    border-radius: 25px;
    border: 2px solid rgba(198, 255, 203);
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

.content-wide {
    max-width: 750px;
    margin: auto;
    border-radius: 25px;
    border: 2px solid rgba(198, 255, 203);
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pad-qs{
    padding: 5px;
}

.gradetable{
  margin: auto;
  border:1px solid black;
}

.hometitle{
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-weight: bold;
  font-size: 3.0rem;
  font-style: oblique;
  color: rgb(62, 111, 53)
}

/* CSS for the Site Buttons */
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


/* Navbar CSS from w3schools.com*/
.topnav {
  background-color: rgb(204, 201, 201, 0.18);
  overflow: hidden;
  box-shadow: 0 30px 40px rgba(204, 201, 201,.2);
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


/* HR style */
/* Glyph, by Harry Roberts */

hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  width: 75%
}
hr.style-eight:after {
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

hr.home:after { content: "Practice Generator"; }

hr.visualize:after { content: "Visualizations";}

hr.grades:after { content: "Grade Calculator";}




